<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_NUMBER</key>
	<integer>305</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${BUNDLE_DISPLAY_NAME_PREFIX}${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>53</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ringly.ringly${BUNDLE_IDENTIFIER_SUFFIX}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.ringly.ringly${BUNDLE_IDENTIFIER_SUFFIX}</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>53.6</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>YOUR-KEY-HERE</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1422830111345355</string>
	<key>FacebookDisplayName</key>
	<string>Ringly</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi20150629</string>
		<string>pinterestsdk.v1</string>
		<string>phone</string>
		<string>textmessage</string>
		<string>calendar</string>
		<string>com.ringly.ringly</string>
		<string>reminders</string>
		<string>email</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ms-outlook</string>
		<string>ymail</string>
		<string>gmm</string>
		<string>goodwork</string>
		<string>com.google.calendar</string>
		<string>sunrise</string>
		<string>com.anydo.AnyDO</string>
		<string>com.6wunderkinder.wunderlistmobile</string>
		<string>todoist</string>
		<string>com.salesforce.salesforce1</string>
		<string>fb</string>
		<string>fb-pma</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>com.hootsuite.hootsuite</string>
		<string>vine</string>
		<string>pscp</string>
		<string>meerkat</string>
		<string>snapchat</string>
		<string>pinterest</string>
		<string>tumblr</string>
		<string>alienblue</string>
		<string>linkedin</string>
		<string>sinaweibo</string>
		<string>okcupid</string>
		<string>tinder</string>
		<string>bumble</string>
		<string>hppn</string>
		<string>hinge</string>
		<string>com.tenthbit.Juliet</string>
		<string>avocado</string>
		<string>lyft</string>
		<string>uber</string>
		<string>flywheel</string>
		<string>parkmobile</string>
		<string>com.aa.AmericanAirlines.AAToday</string>
		<string>ualmobile</string>
		<string>flydelta-mytrips</string>
		<string>jetblue</string>
		<string>airbnb</string>
		<string>tripit</string>
		<string>findmyfriends</string>
		<string>ebay</string>
		<string>offerupapp</string>
		<string>com.letgo.ios</string>
		<string>etsy</string>
		<string>soe</string>
		<string>shopify-admin</string>
		<string>shopify-pos</string>
		<string>nap</string>
		<string>gilt</string>
		<string>poshmark</string>
		<string>shopspring</string>
		<string>birchbox</string>
		<string>com.the-new-stand.TheNewStand</string>
		<string>amp457f8c357d74d133d500488-98c3a082-af22-11e5-272d-00deb82fd81f</string>
		<string>keep</string>
		<string>mint</string>
		<string>paypal</string>
		<string>venmo</string>
		<string>rover</string>
		<string>fb-messenger</string>
		<string>whatsapp</string>
		<string>slack</string>
		<string>hipchat</string>
		<string>wechat</string>
		<string>groupme</string>
		<string>bbmi</string>
		<string>skype</string>
		<string>kakaotalk</string>
		<string>kik</string>
		<string>life360</string>
		<string>line</string>
		<string>sgnl</string>
		<string>telegram</string>
		<string>peach</string>
		<string>accom.tigertext.tigertext</string>
		<string>textnow</string>
		<string>textme2</string>
		<string>viber</string>
		<string>voxer</string>
		<string>com.livechatinc.LiveChat</string>
		<string>wickr</string>
		<string>google</string>
		<string>com.google.hangouts</string>
		<string>com.google.sso.194231451704-svmjqvatai6pjvi4s4dkcd2hhdtno31t</string>
		<string>googleshoppingex</string>
		<string>comgooglekeep</string>
		<string>com.goldenvoice.coachellafest</string>
		<string>com.shazam.Shazam</string>
		<string>soundhound-free</string>
		<string>com.nytimes.nytimes</string>
		<string>apmobile</string>
		<string>latimes</string>
		<string>foxnews</string>
		<string>theskimm</string>
		<string>darksky</string>
		<string>com.wunderground.weatherunderground</string>
		<string>AccuWeatherApp</string>
		<string>twcweather</string>
		<string>mypillapp</string>
		<string>clue</string>
		<string>glow</string>
		<string>mfp</string>
		<string>mfp-mapmyfitness-imapmyfitness</string>
		<string>mfp-mapmyfitness-imapmyhike</string>
		<string>mfp-mapmyfitness-imapmyrun</string>
		<string>mfp-mapmyfitness-imapmywalk</string>
		<string>mfp-mapmyfitness-imapmyride</string>
		<string>mfp-mapmyfitness-imapmydogwalk</string>
		<string>loseit</string>
		<string>wwmobile</string>
		<string>fitbit</string>
		<string>niketrainingclub</string>
		<string>myzone</string>
		<string>fb205050386284699</string>
		<string>fb734164766608468</string>
		<string>mindbodyconnect</string>
		<string>com.getsomeheadspace.headspace</string>
		<string>talkspace</string>
		<string>MIDPatient</string>
		<string>classdojo</string>
		<string>com.espn.ScoreCenter</string>
		<string>nbcliveapp</string>
		<string>ydf</string>
		<string>thescore</string>
		<string>thuuz</string>
		<string>dropcam</string>
		<string>cnry</string>
		<string>nestmobile</string>
		<string>ring</string>
		<string>parcel</string>
		<string>maple</string>
		<string>shipt-grocery</string>
		<string>hooks</string>
		<string>ifttt</string>
		<string>com.pushbullet.client</string>
		<string>docusignit</string>
		<string>mobileiron</string>
		<string>OpsGenie</string>
		<string>pagerduty</string>
		<string>bSafe</string>
		<string>dexcomshare1installed</string>
		<string>dexcomshare2installed</string>
		<string>dexcomrm</string>
		<string>dexcomcgm</string>
		<string>NewWordsWithFriendsFree</string>
		<string>b335b2fc-69dc-472c-9e88-e6c97f84091c-3</string>
		<string>com.google.ingress</string>
		<string>covetBranch</string>
		<string>com.amazon.mobile.shopping</string>
		<string>between</string>
		<string>cozi</string>
		<string>dochalo</string>
		<string>egenciatripnav</string>
		<string>comgooglemaps</string>
		<string>com.kayak.travel</string>
		<string>medisafe</string>
		<string>fb327155777447519</string>
		<string>primenow</string>
		<string>com.redfin.redfin</string>
		<string>com.waze.iphone</string>
		<string>com.google.fireball</string>
		<string>evernote</string>
		<string>glooko</string>
		<string>com.mercariapp.ios.mercari</string>
		<string>virginpulseapp</string>
		<string>homeboy-invite</string>
		<string>goodreads</string>
		<string>litsy</string>
		<string>jawbone-up</string>
		<string>jawbone-up2</string>
		<string>alarmvector</string>
		<string>com.tapbots.Tweetbot3</string>
		<string>com.tapbots.tweetbot4</string>
		<string>com.konecty.rocket.chat</string>
		<string>spokmobile</string>
		<string>asana</string>
		<string>grubhubapp</string>
		<string>hidrate</string>
		<string>com.fogcreek.trello</string>
		<string>com.markonelifestyle.MyVessyl</string>
		<string>waterlogged</string>
		<string>tadpoles</string>
		<string>com.ladylaurence.pyg</string>
		<string>alexa</string>
		<string>cleverloop</string>
		<string>fb1702181946668323</string>
		<string>pacifica</string>
		<string>basecamp3</string>
		<string>fb475799202463398</string>
		<string>glidetalk</string>
		<string>skillshare</string>
		<string>shopify</string>
		<string>com.coinbase.dashboard</string>
		<string>toymail</string>
		<string>bufferapp</string>
		<string>com.google.duo</string>
		<string>endoapp</string>
		<string>com.brighthorizons.mybrightday</string>
		<string>salesforce1</string>
		<string>simple</string>
		<string>wire</string>
		<string>discord</string>
		<string>com.salesforce.inbox</string>
		<string>ntouch</string>
		<string>instacart</string>
		<string>glip</string>
		<string>robinhood</string>
		<string>zendesk</string>
		<string>pocketsuite</string>
		<string>db-npnxzwhonlsd74x</string>
		<string>muslimpro</string>
		<string>arlo</string>
		<string>ciscojabber</string>
		<string>gpappsptrackerlite</string>
		<string>gpappsptrackerdeluxe</string>
		<string>sleepcycle</string>
		<string>airmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is required to connect to Ringly jewelry.</string>
	<key>NSCameraUsageDescription</key>
	<string>Snap a selfie using your camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>Select from your contacts to know when specific people call or text.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Combine Ringly data with Health and other Health-enabled trackers inside the Ringly app.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Back up your Ringly activity data to Health and optionally use the data with other Health-enabled apps.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access photos to manage your profile picture and selfies.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-Book.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-Medium.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>QuickActionAlerts</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Alerts</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ringly.Ringly.openAlerts</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>QuickActionContacts</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Contacts</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ringly.Ringly.openContacts</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>QuickActionActivity</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Activity</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ringly.Ringly.openActivity</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>QuickActionSettings</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Settings</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.ringly.Ringly.openSettings</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
